$primary-color: #17a2b8;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;
$max-width: 1100px;

// function to set text color based on bg color lightness
@function check-lightness($color) {
  @if (lightness($color) > 70) {
    @return #333333;
  } @else {
    @return #fff;
  }
}
// create mixin - set color and bg-color
@mixin set-bg-text-color($color) {
  background-color: $color;
  // text color depends on background color
  color: check-lightness($color);
}

// initialize a list
$spaceamounts: (1, 2, 3, 4, 5);

// each loop to loop thru list
@each $var in $spaceamounts {
  // all around margin
  .m-#{$var} {
    margin: #{$var}rem;
  }
  // margin top and bottom
  .my-#{$var} {
    margin: #{$var}rem 0;
  }
  // full padding
  .p-#{$var} {
    padding: #{$var}rem;
  }
  // padding top, bottom only
  .py-#{$var} {
    padding: #{$var}rem 0;
  }
}
