//container
.container {
  max-width: $max-width;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

// Text styles
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.text-primary {
  color: $primary-color;
}

// background color utility classes
.bg {
  // inclde the mixin here
  &-primary {
    @include set-bg-text-color($primary-color);
  }
  &-light {
    @include set-bg-text-color($light-color);
    border: #cccccc 1px solid;
  }
  &-dark {
    @include set-bg-text-color($dark-color);
  }
  &-danger {
    @include set-bg-text-color($danger-color);
  }
  &-success {
    @include set-bg-text-color($success-color);
  }
  &-white {
    @include set-bg-text-color(#ffffff);
    border: #cccccc 1px solid;
  }
}
// Buttons
.btn {
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  background: $light-color;
  color: #333333;
  padding: 0.5rem 1.2rem;
  border: none;
  outline: none;
  margin-right: 0.5rem;
  // transiton all properties
  transition: all 0.3s ease-in;

  &.btn-primary {
    // call mixin
    @include set-bg-text-color($primary-color);
    &:hover {
      // apply lighten() function - lighten the color by 5%
      background: lighten($color: $primary-color, $amount: 5%);
    }
  }
  &.btn-dark {
    @include set-bg-text-color($dark-color);
    &:hover {
      background: lighten($color: $dark-color, $amount: 5%);
    }
  }
  &.btn-light {
    @include set-bg-text-color($light-color);
    &:hover {
      background: lighten($color: $light-color, $amount: 5%);
    }
  }
  &.btn-danger {
    @include set-bg-text-color($danger-color);
    &:hover {
      background: lighten($color: $danger-color, $amount: 5%);
    }
  }
  &.btn-success {
    @include set-bg-text-color($success-color);
    &:hover {
      background: lighten($color: $success-color, $amount: 5%);
    }
  }
  &:hover {
    background: lighten($color: $dark-color, $amount: 20%);
    color: #ffffff;
  }
}

.dark-overlay {
  height: 100%;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.6);
}
